@charset 'utf-8';


// Reset all the things
@import 'vendors/reset';

@import 'helpers/functions';
@import 'helpers/variables';

// Vendors
@import 'vendors/sassline';
@import 'vendors/breakpoint-sass';


@import 'layout/grid';

@import 'typography/latin';

@include breakpoint-set('to ems', true);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include rootsize;

  text-size-adjust: 100%;
}


// Prevents SVG sub-elements from being selected
svg {
  pointer-events: none;
}

// Prevents tap outline on mobile
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
    background-color: #390F77;
    color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    width: 100vw;
    height: 100vh;
    filter: blur(18px);
    transition: filter get-transition('long') ease-out;
    transition-delay: get-transition('slow');

    &.is-active {
        filter: blur(0);
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
    width: 30px;
    height: 30px;
}

.logotype {
    height: 30px;
    width: 118px;
    margin: 1rem auto;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/dist/images/noise.png') repeat;
    pointer-events: none;
    opacity: 0.1;
}
 .intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: opacity get-transition('slow') get-easing('natural'),
        visibility get-transition('slow');

    &.is-inactive {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
 }

.headphones {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 6rem;
    text-align: center;
}

.headphones-icon {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
}

.footer {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
}

.volume-icon {
    width: 30px;
    height: 30px;
    margin: 1rem;
}

.volume-icon--on {
    display: none;
}

.volume.is-active {
    .volume-icon--on {
        display: block;
    }

    .volume-icon--off {
        display: none;
    }
}

 @include breakpoint(get-layout('box-bp-2')) {
    .logo {
        width: 60px;
        height: 60px
    }

    .logotype {
        width: 236px;
        height: 60px;
    }
 }


 @media (min-width: 40em) and (orientation: landscape) {
    .headphones {
        bottom: 1rem;
    }
 }
